.menu .item{
	margin: 0 0 0em;
}
.html.segment {
    padding: 3.5em 1em 1em;
}
.ui.column.card{
	padding: 0!important;
}
.ui.ribbon.label {
    left: calc(-1rem); 
}
.cell-action{
	position: relative;
}
.options{
	position: absolute;
	display: none;
	top: 20%;
	right: 3px;
}

tr:hover .options{
	display: block;
}

.ui.table-pagos td {
    padding: 0 0em;
    width: 7.67%;
}

.ui.table-pagos td .input input{
	border: 0px;
	padding: 5px 4px;
}

.ui.table-pagos td .input input{
	width: 50px!important;
}

.ui.table-pagos td {
    padding: 0.3em .4em;
}

.ui.table-pagos td:hover .input input {
    border: 1px solid rgba(34,36,38,.15);
}

.ui.table-pagos .ui.input input:focus,.ui.table-pagos .ui.input.focus input {
    border: 1px solid rgba(34,36,38,.15);
}

.content-pull{
	position: relative;
	min-height: 82vh!important;
}

.pull-left{
	position: absolute;
	top: 0;
}

.side-bar .green i.icons .inverted.corner.icon {
    text-shadow: -1px -1px 0 #21ba45, 1px -1px 0 #21ba45, -1px 1px 0 #21ba45, 1px 1px 0 #21ba45;
}

.side-bar .orange i.icons .inverted.corner.icon {
    text-shadow: -1px -1px 0 #F2711C, 1px -1px 0 #F2711C, -1px 1px 0 #F2711C, 1px 1px 0 #F2711C;
}

.labeled input[type="text"],.labeled input[type="number"]{
	width: 50px!important;
}

.form-inline{
	display: inline-block;
}

.hide{
	display: none!important;
}

body{
	background-image: url('../img/condominio2.png');
	background-position: center bottom ;
	background-size:  100vw auto;
    background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
}

.menu{
	/*position: relative;*/
}

.puntitos{
	height: 45px;
}
/*.puntitos{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 1em 0;
}*/
.paddingLeft{
    padding-left: 40px!important;
}
.ui.grid.container,.container{
    width: 98%!important;
}
.ui.vertical.menu {
     /*width: 100%; */
}
.ui.attached.menu {
	margin-bottom: 1rem;
    /*margin: 0 -1px;*/
}
.column-menu{
	padding-left: 0!important;
	padding-right: 0!important;
}

.ui.large.modal {
	width: 85%!important;
}

.pull-left.ui.header>.icon {
    display: inline-block; 
}

.item-hover .btn-title{
	display: none;
}

.item-hover:hover .btn-title{
	display: inline-block;
}

.ui.selection.dropdown.date{
	min-width: 80px!important;
}

.tr-adeudo{
	font-size: 9px;
}

.tr-adeudo th{
	padding: 0px 10px!important;
}



.ui.table.table-ingresos thead tr th{
	background: rgb(0, 176, 80)!important;
}
.ui.table.table-ingresos thead tr:first-child th{
	background: rgb(0, 32, 96)!important;
	/*border-left: 1px solid #000;*/
}
.ui.table.table-ingresos > tbody > tr:nth-of-type(odd) {
  	background-color: #e4e4e4;
}
.ui.table.table-ingresos tbody th{
	background: rgb(255, 192, 0);
	font-size: 13px;
}
.ui.table.table-ingresos tbody th strong,.ui.table.table-ingresos tbody td strong{
	text-transform: uppercase;
}
.ui.table.table-ingresos thead th,.ui.table.table-ingresos tbody th{
	text-transform: uppercase;
	color: #fff!important;
	font-weight: 600;
}
.ui.table.table-ingresos tbody td.total{
	background: rgb(255, 192, 0)!important;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
}
.ui.table.table-ingresos tbody th strong,.ui.table.table-ingresos tbody td strong{
	text-transform: uppercase;
}

.ui.table.table-ingresos thead tr:first-child th{
    font-size: 16px;
    font-weight: 700;
	text-align: center;
} 
.danger{
	color: rgb(192, 0, 0)!important;
}
.ui.table.table-ingresos > tbody > tr:nth-of-type(odd) {
  	background-color: #e4e4e4;
}
.ui.table.table-ingresos thead tr{
	background: rgb(0, 176, 80)!important;
}
.ui.table.table-ingresos thead tr:first-child{
	background: rgb(0, 32, 96)!important;
}
.ui.dropdown .menu>.item>.image, .ui.dropdown .menu>.item>img, .ui.dropdown>.text>.image, .ui.dropdown>.text>img {
    max-width: 2em;
    max-height: auto;
}

.options .ui.icon.button, .ui.icon.buttons .button {
    padding: .4em .48571429em;
}
.agregar .ui.input {
    width: 87%;
 }

.ui.attached.inverted.stackable.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 20;
}
.ui.table td.positive, .ui.table tr.positive {
    background: #befbc9!important;
}
.ui.table td.error, .ui.table tr.error {
    background: #ffe3e3!important;
}
.ui.table td.correct, .ui.table tr.correct {
    background: #9ad2ff	!important;
}
.ui.table-pagos td .input input {
    width: 100%;
    margin: 0;
    background: transparent;
}
.ui.table-pagos td .ui.input {
    font-size: 1em;
    width: 100%;
    background: transparent;
}
.ui.table-pagos.compact.table td {
    padding: .2em .0em;
    text-align: center;
}

.ui.menu.side-bar .item {
  	padding: 0;
	border-radius: 0!important;
    /* padding: 0.928571em 1.142857em; */
}
.ui.menu.side-bar .item .title{
    padding: 0.928571em 0.742857em!important; 
}
.ui.menu.side-bar .item .content .item{
    padding: 0.928571em 0.842857em; 
    background: #1b1c1d;
}
.ui.menu.side-bar .item .content .item:hover{
	background: #21BA45 !important;
}
.ui.accordion:not(.styled) .accordion .title~.content:not(.ui), .ui.accordion:not(.styled) .title~.content:not(.ui) {
    padding: 0; 
}

.ui.vertical.menu {
    box-shadow: 2px 0px 5px #777;
    width: auto;
    padding: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    top: 40px;
    left: 0px;
    border-radius: 0;
}
.ui.vertical.menu .item .text{
    display: none;
}
.ui.vertical.menu .item .content{
    display: none;
}

.ui.vertical.menu:hover .item .text{
    display: inline-block;
}
.ui.vertical.menu:hover .item .content.active{
    display: block;
}

.ui.vertical.menu>.active.item:first-child {
    border-radius: 0;
}
.ui.vertical.menu{
    z-index: 400;

}

.ui.inverted.menu .yellow.active.item, .ui.inverted.yellow.menu {
    background-color: #FBBD08!important;
}

.ui.tabular.menu .item {
    padding: .12857143em 0.42857143em;
    font-size: 12px!important;
}
.segment.segment-sin-padding{
    padding-left: 0!important; 
    padding-right: 0!important; 
}
.segment.segment-sin-padding .fields.inline {
    margin-bottom: 2px!important;
}
.ui.vertical.menu .item .text{
    font-size: 12px;
}
/* Añadido por dhartaros */
.seleccionado {
    background-color: #21BA45 !important;
}