.menu .item{
	margin: 0 0 0em;
}
.html.segment {
    padding: 3.5em 1em 1em;
}
.ui.column.card{
	padding: 0!important;
}
.ui.ribbon.label {
    left: calc(-1rem); 
}
.cell-action{
	position: relative;
}
.options{
	position: absolute;
	display: none;
	top: 20%;
	right: 3px;
}
tr:hover .options{
	display: block;
}
.ui.table-pagos td {
    padding: 0 0em;
}
.ui.table-pagos td .input input {
	width: 50px!important;
	border: 0px;
	padding: 5px 4px;
}
.ui.table-pagos td:hover .input input {
    border: 1px solid rgba(34,36,38,.15);
}
.ui.table-pagos .ui.input input:focus,.ui.table-pagos .ui.input.focus input {
    border: 1px solid rgba(34,36,38,.15);
}
.content-pull{
	position: relative;
	min-height: 82vh!important;
}
.pull-left{
	position: absolute;
	top: 0;
}
.side-bar i.icons .inverted.corner.icon {
    text-shadow: -1px -1px 0 #21ba45, 1px -1px 0 #21ba45, -1px 1px 0 #21ba45, 1px 1px 0 #21ba45;
}
.labeled input{
	width: 50px!important;
}
.form-inline{
	display: inline-block;
}
.hide{
	display: none!important;
}
body{
	background-image: url('../img/condominio2.png');
	background-position: center bottom ;
	background-size:  100vw auto;
    background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	height: 100%;
}
.menu{
	position: relative;
}
/*.puntitos{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
    background: url(../img/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 1em 0;
}*/
.ui.grid.container,.container {
    width: 96%!important;
}
.ui.vertical.menu {
     width: 100%; 
}
.ui.attached.menu {
	margin-bottom: 1rem;
    /*margin: 0 -1px;*/
}
.column-menu{
	padding-left: 0!important;
	padding-right: 0!important;
}
.ui.large.modal {
	width: 85%!important;
}
.pull-left.ui.header>.icon {
     display: inline-block; 
}
.item-hover .btn-title{
	display: none;
}
.item-hover:hover .btn-title{
	display: inline-block;
}
.ui.selection.dropdown.date{
	min-width: 80px!important;
}
.tr-adeudo{
	font-size: 9px;
}
.tr-adeudo th{
	padding: 0px 10px!important;
}
.ui.table.table-ingresos thead tr th{
	background: rgb(0, 176, 80)!important;
}
.ui.table.table-ingresos thead tr:first-child th{
	background: rgb(0, 32, 96)!important;
	/*border-left: 1px solid #000;*/
}
.ui.table.table-ingresos > tbody > tr:nth-of-type(odd) {
  	background-color: #e4e4e4;
}
.ui.table.table-ingresos tbody th{
	background: rgb(255, 192, 0);
	font-size: 13px;
}
.ui.table.table-ingresos tbody th strong,.ui.table.table-ingresos tbody td strong{
	text-transform: uppercase;
}
.ui.table.table-ingresos thead th,.ui.table.table-ingresos tbody th{
	text-transform: uppercase;
	color: #fff!important;
	font-weight: 600;
}
.ui.table.table-ingresos tbody td.total{
	background: rgb(255, 192, 0)!important;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
}
.ui.table.table-ingresos tbody th strong,.ui.table.table-ingresos tbody td strong{
	text-transform: uppercase;
}

.ui.table.table-ingresos thead tr:first-child th{
    font-size: 16px;
    font-weight: 700;
	text-align: center;
} 
.danger{
	color: rgb(192, 0, 0)!important;
}
.ui.table.table-ingresos > tbody > tr:nth-of-type(odd) {
  	background-color: #e4e4e4;
}
.ui.table.table-ingresos thead tr{
	background: rgb(0, 176, 80)!important;
}
.ui.table.table-ingresos thead tr:first-child{
	background: rgb(0, 32, 96)!important;
}
.ui.dropdown .menu>.item>.image, .ui.dropdown .menu>.item>img, .ui.dropdown>.text>.image, .ui.dropdown>.text>img {
    max-width: 2em;
    max-height: auto;
}

.options .ui.icon.button, .ui.icon.buttons .button {
    padding: .4em .48571429em;
}
.agregar .ui.input {
    width: 87%;
 }